.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

.App-logo {
  height: 100%;
  max-width: 50%;
  pointer-events: none;
}

.App-header-name-div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.App-header {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding: 0.5vh 2vw;
}

.App-link {
  color: #61dafb;
}

.login {
  color: #333;
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
