html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error {
  color: red;
}

.success {
  color: green
}

input[type="text"], input[type="password"], select, input[type="date"] {
  background-color: white;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  min-width: 100px;
}

button {
  background-color: green;
  color: white;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}